# Pandas Practice
## 과제 안내
- 이번 실습은 "한국장학재단_대학별 평균등록금_20200429.csv" 파일이 필요합니다. 과제 공지 폴더를 확인해주세요.
- 답안을 작성하여 ipynb 파일로 구글 드라이브 \[Assignment\] - \[개인 폴더\]로 업로드하시면 됩니다, 위 데이터셋 파일과 후에 출력한 파일도 같이 첨부해주세요. 
- 출력 예시는 본 파일 하단에 수록되어 있습니다. 문제가 잘 이해가지 않거나, 정답을 확인하고 싶을 때 참고하시면 됩니다.
- 출력 예시는 어디까지나 예시이며 제시된 문제의 의도와 부합한다면 출력 결과가 달라도 상관 없습니다.

In [296]:
import pandas as pd

## P.2-1
"한국장학재단_대학별 평균등록금_20200429.csv" 파일을 Pandas의 read_csv 메서드로 불러와 봅시다.  
이때 불러온 객체는 df라는 변수에 저장합니다.

In [273]:
#### P.2-1 Answer Code

####
df

      학제별  설립별        대학명 지역별  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)
0      대학  국공립    강릉원주대학교  강원       7412       0.0      4264.4
1      대학  국공립      강원대학교  강원      18255       0.0      4114.2
2      대학  국공립  경남과학기술대학교  경남       4767       0.0      3776.3
3      대학  국공립      경북대학교  대구      19178       0.0      4500.6
4      대학  국공립      경상대학교  경남      12528       0.0      4090.0
..    ...  ...        ...  ..        ...        ...        ...
381  전문대학   사립    한림성심대학교  강원       2609    8141.7      5598.9
382  전문대학   사립    한양여자대학교  서울       6252    5245.5      6085.5
383  전문대학   사립       한영대학  전남       1349    3492.7      5258.1
384  전문대학   사립      혜전대학교  충남       2838    4506.2      5802.0
385  전문대학   사립      호산대학교  경북       1776    9687.7      5648.8

[386 rows x 7 columns]

## P.2-2  
df의 앞의 15개 행을 출력해봅시다. (head() 사용)

In [274]:
#### P.2-2 Answer code

####

   학제별  설립별        대학명 지역별  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)
0   대학  국공립    강릉원주대학교  강원       7412       0.0      4264.4
1   대학  국공립      강원대학교  강원      18255       0.0      4114.2
2   대학  국공립  경남과학기술대학교  경남       4767       0.0      3776.3
3   대학  국공립      경북대학교  대구      19178       0.0      4500.6
4   대학  국공립      경상대학교  경남      12528       0.0      4090.0
5   대학  국공립    경인교육대학교  인천       2392       0.0      3189.0
6   대학  국공립    공주교육대학교  충남       1416       0.0      3424.0
7   대학  국공립      공주대학교  충남      10953       0.0      3824.0
8   대학  국공립    광주과학기술원  광주        778       0.0      2060.0
9   대학  국공립    광주교육대학교  광주       1304       0.0      3476.5
10  대학  국공립      군산대학교  전북       6940       0.0      3934.3
11  대학  국공립    금오공과대학교  경북       4850       0.0      3770.9
12  대학  국공립  대구경북과학기술원  대구        880       0.0      1750.0
13  대학  국공립    대구교육대학교  대구       1532       0.0      3604.0
14  대학  국공립      목포대학교  전남       6453       0.0      3894.0

## P.2-3
df의 구조를 파악하기 위해 본 데이터프레임의 정보를 출력 해봅시다. (info 사용)

In [275]:
#### P.2-3

####

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 7 columns):
학제별           386 non-null object
설립별           386 non-null object
대학명           386 non-null object
지역별           386 non-null object
입학정원 합(명)     386 non-null int64
평균 입학금(천원)    386 non-null object
평균등록금(천원)     386 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 21.2+ KB

## P.2-4
본격적으로 데이터 분석을 시작하기 전에 불필요한 열을 제거하고자 합니다.  
df에서 "지역별" column을 제거해봅시다. 제거하고 난 데이터프레임은 df2에 저장합니다.

In [276]:
#### P.2-4

####
df2

      학제별  설립별        대학명  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)
0      대학  국공립    강릉원주대학교       7412       0.0      4264.4
1      대학  국공립      강원대학교      18255       0.0      4114.2
2      대학  국공립  경남과학기술대학교       4767       0.0      3776.3
3      대학  국공립      경북대학교      19178       0.0      4500.6
4      대학  국공립      경상대학교      12528       0.0      4090.0
..    ...  ...        ...        ...        ...        ...
381  전문대학   사립    한림성심대학교       2609    8141.7      5598.9
382  전문대학   사립    한양여자대학교       6252    5245.5      6085.5
383  전문대학   사립       한영대학       1349    3492.7      5258.1
384  전문대학   사립      혜전대학교       2838    4506.2      5802.0
385  전문대학   사립      호산대학교       1776    9687.7      5648.8

[386 rows x 6 columns]

## P.2-5
df2에 결측치(NaN)가 있는지 확인해보고자 합니다.  
각 column별 결측치의 개수를 출력해봅시다. (isnull, sum 사용)

In [277]:
#### P.2-6

####

학제별           0
설립별           0
대학명           0
입학정원 합(명)     0
평균 입학금(천원)    0
평균등록금(천원)     0
dtype: int64

## P.2-6
"학제별"과 "설립별" column에 어떤 값들이 존재하는지 확인해보고자 합니다.  
df2에서 각 column의 고유한 값들을 각각 val_lst1과 val_lst2에 리스트 자료형으로 저장해봅시다.  (unique 사용)

In [278]:
#### P.2-6

####
print(val_lst1)
print(val_lst2)

['대학' '전문대학']
['국공립' '사립']

## P.2-7
본 분석에서는 전문 대학은 포함시키지 않을 것입니다.  
따라서 "학제별"이 "전문대학"인 행은 제거해봅시다. 
제거하고 난 데이터 프레임은 df3에 저장합니다.

In [279]:
#### P.2-7

####
df3

    학제별  설립별        대학명  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)
0    대학  국공립    강릉원주대학교       7412       0.0      4264.4
1    대학  국공립      강원대학교      18255       0.0      4114.2
2    대학  국공립  경남과학기술대학교       4767       0.0      3776.3
3    대학  국공립      경북대학교      19178       0.0      4500.6
4    대학  국공립      경상대학교      12528       0.0      4090.0
..   ..  ...        ...        ...        ...        ...
214  대학   사립    호남신학대학교        584    5709.4      6658.9
215  대학   사립      호서대학교      11562    5310.7      7727.9
216  대학   사립      호원대학교       4634    4593.7      6929.1
217  대학   사립      홍익대학교      14977    7195.6      8343.4
218  대학   사립   화신사이버대학교       1490    2330.0      2444.8

[219 rows x 6 columns]

## P.2-8
df3에서 국공립 대학교와 사립 대학교가 각각 몇개인지 알고 싶습니다.  
국공립 대학교와 사립 대학교의 개수를 cnt_univ에 Series 자료형으로 저장해봅시다. (value_counts 사용)

In [280]:
## P.2-8

##
print(cnt_univ)

사립     172
국공립     47
Name: 설립별, dtype: int64

## P.2-9
df3를 "평균등록금(천원)" 컬럼을 기준으로 내림차 순으로 정렬해 봅시다.  (sort_values 사용)  
정렬한 결과는 df4에 저장해 봅시다.

In [281]:
#### P.2-9

####
df4

    학제별  설립별        대학명  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)
195  대학   사립  한국산업기술대학교       5520    4130.4      8996.2
152  대학   사립      연세대학교      20216    8685.8      8930.4
148  대학   사립      신한대학교       5712    8556.7      8695.2
168  대학   사립    이화여자대학교      12740   10876.7      8691.6
187  대학   사립    추계예술대학교       1097   17011.2      8677.0
..   ..  ...        ...        ...        ...        ...
179  대학   사립    중앙승가대학교        480    1400.0      1760.0
12   대학  국공립  대구경북과학기술원        880       0.0      1750.0
41   대학  국공립  한국방송통신대학교     247650       0.0       756.1
174  대학   사립       정석대학        200       0.0         0.0
71   대학   사립   광주가톨릭대학교        160       0.0         0.0

[219 rows x 6 columns]

## P.2-10
평균등록금(천원)이 0원인 대학교는 제거해 봅시다.  
제거한 결과는 df5에 저장해 봅시다.

In [282]:
#### P.2-10

####
df5

    학제별  설립별        대학명  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)
195  대학   사립  한국산업기술대학교       5520    4130.4      8996.2
152  대학   사립      연세대학교      20216    8685.8      8930.4
148  대학   사립      신한대학교       5712    8556.7      8695.2
168  대학   사립    이화여자대학교      12740   10876.7      8691.6
187  대학   사립    추계예술대학교       1097   17011.2      8677.0
..   ..  ...        ...        ...        ...        ...
8    대학  국공립    광주과학기술원        778       0.0      2060.0
156  대학   사립    영산선학대학교        200       0.0      2000.0
179  대학   사립    중앙승가대학교        480    1400.0      1760.0
12   대학  국공립  대구경북과학기술원        880       0.0      1750.0
41   대학  국공립  한국방송통신대학교     247650       0.0       756.1

[217 rows x 6 columns]

## P.2-11
데이터 정렬과 행 삭제를 거치면서 index가 흐트러졌습니다.  
index를 reset하고 그 결과는 df6에 저장합니다. (reset_index 사용)
> reset_index를 거치면 index column이 생성될 수도 있습니다. index 컬럼은 삭제해 주세요.

In [283]:
#### P.2-11

####
df6

    학제별  설립별        대학명  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)
0    대학   사립  한국산업기술대학교       5520    4130.4      8996.2
1    대학   사립      연세대학교      20216    8685.8      8930.4
2    대학   사립      신한대학교       5712    8556.7      8695.2
3    대학   사립    이화여자대학교      12740   10876.7      8691.6
4    대학   사립    추계예술대학교       1097   17011.2      8677.0
..   ..  ...        ...        ...        ...        ...
212  대학  국공립    광주과학기술원        778       0.0      2060.0
213  대학   사립    영산선학대학교        200       0.0      2000.0
214  대학   사립    중앙승가대학교        480    1400.0      1760.0
215  대학  국공립  대구경북과학기술원        880       0.0      1750.0
216  대학  국공립  한국방송통신대학교     247650       0.0       756.1

[217 rows x 6 columns]

## P.2-12
df6에서 대학교들의 평균등록금의 평균과 표준편차를 출력해 봅시다.  
각각의 값을 price_mean과 price_std에 저장합니다.

In [284]:
#### P.2-12

####
print(price_mean)
print(price_std)

6059.19677419355
1930.16610723464

## P.2-13
df6에서 "등록금순위(설립별)"라는 column을 새로 만듭니다.  
여기에는 사립과 국공립별로 매겨진 등록금 순위 값을 저장합니다. (내림차순) (국립 1등부터 순위, 사립 1등부터 순위 매김 ) (groupby, rank 사용)

In [285]:
#### P.2-13

####
df6[df6['설립별']=="국공립"].head(10)

    학제별  설립별        대학명  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)  등록금순위(설립별)
104  대학  국공립    한국과학기술원       3880       0.0      6866.0         1.0
141  대학  국공립    울산과학기술원       1440       0.0      6167.2         2.0
143  대학  국공립      서울대학교      13148       0.0      6011.8         3.0
152  대학  국공립  서울과학기술대학교       8320       0.0      5435.4         4.0
154  대학  국공립   한국예술종합학교       2252       0.0      4806.5         5.0
155  대학  국공립      인천대학교       9968       0.0      4635.9         6.0
157  대학  국공립      경북대학교      19178       0.0      4500.6         7.0
158  대학  국공립      부산대학교      17254       0.0      4462.0         8.0
159  대학  국공립      한밭대학교       7409       0.0      4449.7         9.0
160  대학  국공립      전북대학교      15608       0.0      4380.8        10.0

In [286]:
df6[df6['설립별']=="사립"].head(10)

  학제별 설립별        대학명  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)  등록금순위(설립별)
0  대학  사립  한국산업기술대학교       5520    4130.4      8996.2         1.0
1  대학  사립      연세대학교      20216    8685.8      8930.4         2.0
2  대학  사립      신한대학교       5712    8556.7      8695.2         3.0
3  대학  사립    이화여자대학교      12740   10876.7      8691.6         4.0
4  대학  사립    추계예술대학교       1097   17011.2      8677.0         5.0
5  대학  사립      을지대학교       4286    9119.5      8495.8         6.0
6  대학  사립      한양대학교      18928   10719.4      8473.4         7.0
7  대학  사립    한국항공대학교       3335    4623.9      8467.9         8.0
8  대학  사립     성균관대학교      13662    3545.9      8386.2         9.0
9  대학  사립      홍익대학교      14977    7195.6      8343.4        10.0

## P.2-14
df6에서 경희대학교의 평균등록금(천원)과 사립 대학교 중 '등록금 순위'를 출력해봅시다.  
출력 데이터는 khu_rank에 저장해주세요.

In [287]:
#### P.2-14

####
khu_rank

    평균등록금(천원)  등록금순위(설립별)
24     7935.4        25.0

## P.2-15
주요 10개 대학교 중에서 경희대학교 등록금 순위를 알아보려 합니다.  
df6에서 주어진 주요 10개 대학교 리스트를 활용하여 주요 10개 대학교 df_ten 데이터 프레임을 생성해 봅시다. (isin 사용)

In [288]:
topten = ['서울대학교', '연세대학교','고려대학교','서강대학교','성균관대학교','한양대학교','중앙대학교','경희대학교','한국외국어대학교','서울시립대학교']
#### P.2-15

####
df_ten

    학제별  설립별       대학명  입학정원 합(명) 평균 입학금(천원)  평균등록금(천원)  등록금순위(설립별)
1    대학   사립     연세대학교      20216    8685.8      8930.4         2.0
6    대학   사립     한양대학교      18928   10719.4      8473.4         7.0
8    대학   사립    성균관대학교      13662    3545.9      8386.2         9.0
11   대학   사립     고려대학교      20912    8571.2      8283.3        12.0
19   대학   사립     중앙대학교      17976    7913.4      8083.1        20.0
22   대학   사립     서강대학교       6296    5092.8      7947.4        23.0
24   대학   사립     경희대학교      19686    8439.9      7935.4        25.0
83   대학   사립  한국외국어대학교      13508   11811.1      7130.0        84.0
143  대학  국공립     서울대학교      13148       0.0      6011.8         3.0
208  대학  국공립   서울시립대학교       6826       0.0      2392.1        44.0

## P.2-16
등록금 순위를 주요 10개 대학교의 평균등록금에 맞게 다시 정렬해 봅시다. (오름차순)  
그 결과는 df_ten에 "등록금순위(10개대)" column을 생성하여 저장합니다.

In [289]:
#### P.2-16

####
df_ten

,학제별,설립별,대학명,입학정원 합(명),평균 입학금(천원),평균등록금(천원),등록금순위(설립별),등록금순위(10개대)
1,대학,사립,연세대학교,20216,8685.8,8930.4,2.0,1.0
6,대학,사립,한양대학교,18928,10719.4,8473.4,7.0,2.0
8,대학,사립,성균관대학교,13662,3545.9,8386.2,9.0,3.0
11,대학,사립,고려대학교,20912,8571.2,8283.3,12.0,4.0
19,대학,사립,중앙대학교,17976,7913.4,8083.1,20.0,5.0
22,대학,사립,서강대학교,6296,5092.8,7947.4,23.0,6.0
24,대학,사립,경희대학교,19686,8439.9,7935.4,25.0,7.0
83,대학,사립,한국외국어대학교,13508,11811.1,7130.0,84.0,8.0
143,대학,국공립,서울대학교,13148,0.0,6011.8,3.0,9.0
208,대학,국공립,서울시립대학교,6826,0.0,2392.1,44.0,10.0

## P.2-17
경희대학교의 주요 10개 대학교 등록금 순위를 출력해봅시다.  
그 결과는 khu_rank2에 저장합니다.

In [294]:
#### P.2-17

####
print(khu_rank2)

24    7.0
Name: 등록금순위(10개대), dtype: float64

## P.2-18
앞서 작업한 df_ten 데이터 프레임을 csv로 저장해봅시다.  
파일 이름은 "univ_result.csv"로 앞서 불러온 데이터셋과 같은 경로에 저장합니다.

In [295]:
#### P.2-18

####

## P.2-Free
선택 문제입니다.  
위 분석 과정에서 자유롭게 자신의 코드를 추가해보세요.  
어떤 작업도 상관없습니다!(Ex. 시각화, 컬럼 추가, 데이터 조작/추가 등등 )